.navbar-expand-lg .navbar-collapse{
    flex-direction: row-reverse;
}
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
  }
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
  }
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
  }
  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
  }
  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
  }

.tilt {
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.atriang {
    width: calc(100% + 1.3px);
    height: 25px;
}

.step-button-active{
    background-color: #1F2937;
    border-color: #2563EB;
    color: white;
}
body{
    font-family: Roboto;
}

.title-font{
    font-family: Roboto;
    font-weight: 500;
}