
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
  }

.tilt {
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.atriang {
    width: calc(100% + 1.3px);
    height: 25px;
}

.step-button-active{
    background-color: #1F2937;
    border-color: #2563EB;
    color: white;
}
.body-font{
    font-family: Roboto;
    font-weight: 400;
}

.title-font{
    font-family: Roboto;
    font-weight: 500;
}